/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
font-family: sans-serif;
}

/* utilities */




  
/* content */
#auguri {
    margin: 50px auto;
    font-size: 80px;
    text-align: center;
}